<ion-header>
<!-- changing color of the bar to medium - gray-->
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-back-button defaulthref="/tabs/quotes"></ion-back-button>
    </ion-buttons>
    <ion-title>Quote Details</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content padding>

	<ion-card *ngIf="quote">
		<ion-card-content>
			<h4>Author of the quote: {{ quote.author }} </h4>
		</ion-card-content>
	</ion-card>

    <ion-card *ngIf="quote">
		<ion-card-content>
			<h4> Serie: {{ quote.series}} </h4>
		</ion-card-content>
	</ion-card>

  
</ion-content>