
/** Ionic CSS Variables **/
:root {
      --ion-background-color: var(--ion-color-dark);
  --ion-text-color: rgb(208, 209, 199);
  --ion-tab-bar-background: var(--ion-color-primary);

  ion-tab-button {
    --color-selected: var(--ion-color-secondary);
  }
  --ion-text-color-rgb: 255, 255, 255;

  ion-card {
    --color: rgb(210, 211, 202);
  }

  ion-item {
    --border-color: var(--ion-color-light);
    --detail-push-color: var(--ion-color-light);
  }

 /** primary **/
  --ion-color-primary: #000000;
  --ion-color-primary-rgb: 39,43,48;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #838c96;
  --ion-color-primary-tint: #2c6fe2;

  /** secondary **/
  --ion-color-secondary: #FFE300;
  --ion-color-secondary-rgb: 255,227,0;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #e0c800;
  --ion-color-secondary-tint: #ffe61a;

  /** tertiary **/
  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112,68,255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16,220,96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #FFE300;
  --ion-color-warning-rgb: 255,227,0;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #e0c800;
  --ion-color-warning-tint: #ffe61a;

  /** danger **/
  --ion-color-danger: #eff306;
  --ion-color-danger-rgb: 245,61,61;
  --ion-color-danger-contrast: #dfdbdb;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #d83636;
  --ion-color-danger-tint: #f65050;

  /** dark **/
  --ion-color-dark: #1c1e22;
  --ion-color-dark-rgb: 28,30,34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #191a1e;
  --ion-color-dark-tint: #333538;

  /** medium **/
  --ion-color-medium: #000103;
  --ion-color-medium-rgb: 152,154,162;
  --ion-color-medium-contrast: #ddc80d;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #5164a8;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244,244,244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

}